<a href="https://colab.research.google.com/github/sergey8859/Algorithms-on-Python-GeekBrains/blob/master/%D0%9A%D0%BE%D0%B4%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0_%D0%BA%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd

In [40]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
df = pd.DataFrame({'whoAmI':lst})
df1 = pd.DataFrame()
df.head(20)

   whoAmI
0   robot
1   human
2   human
3   human
4   robot
5   human
6   robot
7   human
8   robot
9   human
10  robot
11  robot
12  human
13  human
14  robot
15  robot
16  human
17  robot
18  human
19  robot

In [41]:
def wh(x):
  if x == 'human':
    return 1
  else:
    return 0
def wh1(x):
  if x == 'robot':
    return 1
  else:
    return 0

In [42]:
df1['human'] = df.whoAmI.apply(wh)
df1['robot'] = df.whoAmI.apply(wh1)

In [45]:
df.head(20)
df1.head(20)
df1.head(20)

    human  robot
0       0      1
1       1      0
2       1      0
3       1      0
4       0      1
5       1      0
6       0      1
7       1      0
8       0      1
9       1      0
10      0      1
11      0      1
12      1      0
13      1      0
14      0      1
15      0      1
16      1      0
17      0      1
18      1      0
19      0      1